{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>{% block title %}Title{% endblock %}</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

   

   {% block head %}
   {% endblock %}
</head>

<body>
<div>
    <div>
        <h1>{{ nazwa }}</h1>
    </div>

    <div>
    {% include "omnie/paseknawigacyjny.html" %}

    {% block content %}
        Jesteś na stronie głównej gry memory
        Nie działa pasek nawigacyjny.
        Przejście do poszczególnych stron za pomocą adresów : /gra, /omnie
    {% endblock %}
   </div>

</div>
</body>

</html>


