<style>
    nav {
      background-color: #9CCC65; /* zielony */
      text-align: center;
      padding: 10px;
    }
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
    li {
      display: inline-block;
      margin-right: 20px;
    }
  
    li a {
      color: #FFFFFF; /* biały */
      font-size: 18px;
      text-decoration: none;
      padding: 10px;
      border-radius: 5px;
    }
  
    li a:hover {
      background-color: #FFFFFF; /* biały */
      color: #9CCC65; /* zielony */
      transition: 0.3s;
    }
  </style>
  
  <nav>
    <ul>
      <li><a href="/">Strona główna</a></li>
      <li><a href="/gra">Gra</a></li>
      <li><a href="/gra/wyniki">Wyniki</a></li>
      <li><a href="/omnie">Strona o mnie</a></li>
    </ul>
  </nav>
