<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>{% block title %}Title{% endblock %}</title>
</head>
<body style="background: #E8EAF6; font-family: Comic Sans MS;">
<div id="content">
    <div id="header">
        <h1>{{ nazwa }}</h1>
    </div>
    <div id="inner-content">
        {% include "paseknawigacyjny.html" %}
    {% block content %}
        <img src="memo1.png" alt="Memo" title="image" width="600" height="400" border="2" style="margin: 20px 20px" >
    {% endblock %}
   </div>

</div>
</body>
</html>


