

{% extends "omnie/Homepage.html" %}
{% load static %}
{% block head %}


<style>
    table {border-collapse: collapse;} 
    td {border-style: solid; border-width: 5px; border-color: white; padding: 5px; text-align: center; background-color: black; transition: 0.5s; }
    img {width: 100px; filter: brightness(0.0); transition: 0.5s; }
</style>


{% comment %} <style>
    table {
      border-collapse: collapse;
    }
    
    td {
      width: 200px;
      height: 200px;
      border: 1px solid black;
      text-align: center;
    }
    
    .card {
      width: 150px;
      height: 150px;
      filter: brightness(0%);
    }

</style> {% endcomment %}

<script src="{% static 'gra/playboard.js' %}"></script>
{% endblock %}
{% block content %}

ROZGRYWKA NUMER : {{ id }}
<table style="border-width: 3px; ">
    {% for row in cards %}
    <tr>
        {% for card in row %}
            <td>
                <img src="{% static 'gra/' %}{{ card }}.jpeg"/>
            </td>
        
        {% endfor %}
    </tr>
    {% endfor %}
</table>




{% endblock %}