{% extends "omnie/Homepage.html" %} {% load static %} 
{% block head %}

<style>
  .active {
    background-color: green;
    color: white;
    z-index: 1;
  }

  footer {
    color: red;
    z-index: 1;
 }

  table {
    border-collapse: collapse;
    z-index: 1;
  }

  td {
    border-style: solid;
    border-width: 5px;
    border-color: white;
    padding: 5px;
    text-align: center;
    background-color: black;
    transition: 0.5s;
    z-index: 1;
  }

  .notfound {
    width: 100px;
    background-colour: black;
    filter: brightness(0);
    transition: 0.5s;
    z-index: 1;
  }

  .found {
    width: 100px;
    background-color: grey;
    filter: brightness(0.5);
    transition: 0.5s;
    z-index: 1;
  }

  .temporaryvisible {
    background-color: white;
    filter: brightness(1);
    z-index: 1;

  }

  img {
    max-width: 100%;
    height: auto;
    z-index: 1;
  }

  #end-game-message {
    color: #e91e63;
    font-size: 80px;
    /* font-family: Arial, sans-serif; */
    z-index: 1;
  }
  canvas {
    display: block;
    position: relative;
    zindex: -1;
    pointer-events: none;
  
  }
  
  
  .buttonContainer {
    display: inline-block;
    z-index: 1;
  }
  
  h1 {
    color: #336600;
    z-index: 1;
  }
</style>
{% csrf_token %}

<script src="{% static 'gra/playboard.js' %}"></script>

{% endblock %} 
{% block content %}

<body>
  <span>
    <h1>ROZGRYWKA NUMER : {{ id }}</h1>
    <br /><br />

    Liczba par na stole: <span id="pairs-count">{{ pairs_total }}</span><br /><br />

    Gracz 1: <span id="player1"> {{ player1 }} </span> <br />
    Liczba znalezionych par: <span id="scoreplayer1">{{ scoreplayer1 }}</span><br /><br />

    Gracz 2: <span id="player2"> {{ player2 }} </span> <br />
    Liczba znalezionych par: <span id="scoreplayer2">{{ scoreplayer2 }}</span><br /><br />

    Liczba ruchów: <span id="moves-count">{{ moves }}</span><br /><br />
  </span>

<div id="end-game-message"></div>


<table style="border-width: 3px">
  {% for row in current_playboard %}
  <tr>
    {% for card in row %}
    {% if card.found %}
    <td class="found">
    {% else %}
    <td class="notfound">
    {% endif %}
      <img src="{% static 'gra/' %}{{ card.card }}.jpeg" />
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>


<script src="{% static 'gra/confetti.js' %}"></script>
<canvas id="canvas"></canvas>

</body>



{% endblock %}
