{% extends "omnie/Homepage.html" %}
{% load static %}

{% block head %}
{% comment %} {{ form.media }} {% endcomment %}
<style>
   body {
      font-family: Arial, sans-serif;
      text-align: center;
   }

   footer {
      color: red;
   }

   table {
      background-color: green;
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 20px;
   }

   table th,
   table td {
      padding: 10px;
      text-align: center;
      border: 1px solid #ddd;
   }

   table th {
      background-color: #fff;
      font-weight: bold;
      color: #E91E63;
    
   }

   table tr:nth-child(even) {
      background-color: #f2f2f2;
      
   }
   tbody {
      font-size: 13px
   }
   
   h1 {
      color: #336600;
   }


</style>
{% endblock %}

{% block content %}
<br>
<br>
<table>
   <thead>
      <tr>
         <th>Numer Rozgrywki</th>
         <th>Liczba par</th>
         <th>Liczba ruchów</th>
         <th>Nazwa gracza 1</th>
         <th>Liczba par gracza 1</th>
         <th>Nazwa gracza 2</th>
         <th>Liczba par gracza 2</th>
         <th>WYGRAŁ</th>

         
      </tr>
   </thead>
   <tbody>
      {% for wynik in wyniki %}
      <tr>
         <td>{{ wynik.id }}</td>
         <td>{{ wynik.pairs_total }}</td>
         <td>{{ wynik.moves }}</td>
         <td>{{ wynik.player1 }}</td>
         <td>{{ wynik.scoreplayer1 }}</td>
         <td>{{ wynik.player2 }}</td>
         <td>{{ wynik.scoreplayer2 }}</td>
         <td>{{ wynik.winner }}</td>
         
      </tr>
      {% endfor %}
   </tbody>
</table>

{% endblock %}